<li class="pg-step pg-step--{{ color }}">
  <p class="pg-step__position">{{ position }}</p>
  <div class="pg-step__content">
    <h3><span aria-hidden="true">{{ emoji }}</span> {{ title }}</h3>
    <div class="wysiwyg">
      {{ text|raw }}
    </div>
  </div>
</li>
